Package: com.guester.wczz
Name: wczz
Version: 1.0-2
Architecture: iphoneos-arm
Description: WeChat group assistant tweak for WeChat 8.0.75
Maintainer: guester
Author: guester
Section: Tweaks
Depends: firmware (>= 15.0)
