Package: com.guester.wczz
Name: wczz
Version: 1.0-3
Architecture: iphoneos-arm
Description: Independent WeChat 8.0.75 group assistant tweak
Maintainer: guester
Author: guester
Section: Tweaks
Depends: firmware (>= 15.0)
